<h1>Task Summary</h1>

<section class='left-task'>

  <h2 class='center'>Task</h2>
  <p>&nbsp;</p>
  <%= render 'partials/show_task', task: @task %>

  <%= render 'partials/hidden_fields', task: @task, match_one: @match_one, match_two: @match_two %>

  <div id="multi_markers" style='width: 100%; height: 400px;'></div>

</section>


<section class='right-task'>
  <h2 class='center'>Volunteers</h2>
  <p class='center'><em>Ordered by Availability, DBS Check, and Proximity</em></p>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <%= render 'partials/show_volunteer', volunteer: volunteer %>
    <% end %>
  </ul>
</section>

<script>
var client_lat = document.getElementById('lat').value;
var client_long = document.getElementById('long').value;
var client_name = document.getElementById('client-name').innerText;
var v_lat_one = document.getElementById('v-lat-one').value;
var v_long_one = document.getElementById('v-long-one').value;
var v_name_one = document.getElementById('v-name-one').value;
var v_lat_two = document.getElementById('v-lat-two').value;
var v_long_two = document.getElementById('v-long-two').value;
var v_name_two = document.getElementById('v-name-two').value;
var v_lat_three = document.getElementById('v-lat-three').value;
var v_long_three = document.getElementById('v-long-three').value;
var v_name_three = document.getElementById('v-name-three').value;

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
var markers = handler.addMarkers([
{ lat: client_lat, lng: client_long, picture: {
          "url": "http://maps.google.com/mapfiles/kml/pal4/icon43.png",
          "width":  36,
          "height": 36 },
  infowindow: client_name },
{ lat: v_lat_one, lng: v_long_one, infowindow: v_name_one },
{ lat: v_lat_two, lng: v_long_two, infowindow: v_name_two },
{ lat: v_lat_three, lng: v_long_three, infowindow: v_name_three }
]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>

