---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EC1%202DR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC1",
                       "short_name" : "EC1",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "La Trobe University",
                       "short_name" : "La Trobe University",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Terrace Way",
                       "short_name" : "Terrace Way",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Macleod",
                       "short_name" : "Macleod",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Victoria",
                       "short_name" : "VIC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "3085",
                       "short_name" : "3085",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "EC1, La Trobe University, Terrace Way, Macleod VIC 3085, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -37.7228103,
                          "lng" : 145.0608131
                       },
                       "southwest" : {
                          "lat" : -37.7231152,
                          "lng" : 145.0603044
                       }
                    },
                    "location" : {
                       "lat" : -37.7229628,
                       "lng" : 145.0605587
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -37.7216137697085,
                          "lng" : 145.0619077302915
                       },
                       "southwest" : {
                          "lat" : -37.7243117302915,
                          "lng" : 145.0592097697085
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJVbektRpG1moRD2ouvl5MN3s",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 05 Mar 2015 17:29:34 GMT
[...]
- request:
    method: post
    uri: https://ACe94c38cd7e944a52ee540da470657124:a3bab6b3920e3403b562c898fa3ce671@api.twilio.com/2010-04-01/Accounts/ACe94c38cd7e944a52ee540da470657124/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Mr.+Test%2C+1+Test+road%2C+needs+his+shopping+done%2C+are+you+available%3F&To=%2B447450267998&From=%2B441963602029
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM0f9c7a8cdc704b22b1bfe4eb46198821", "date_created": "Thu,
        05 Mar 2015 17:29:35 +0000", "date_updated": "Thu, 05 Mar 2015 17:29:35 +0000",
        "date_sent": null, "account_sid": "ACe94c38cd7e944a52ee540da470657124", "to":
        "+447450267998", "from": "+441963602029", "body": "Mr. Test, 1 Test road,
        needs his shopping done, are you available?", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACe94c38cd7e944a52ee540da470657124/Messages/SM0f9c7a8cdc704b22b1bfe4eb46198821.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACe94c38cd7e944a52ee540da470657124/Messages/SM0f9c7a8cdc704b22b1bfe4eb46198821/Media.json"}}'
  recorded_at: Thu, 05 Mar 2015 17:29:35 GMT
recorded_with: VCR 2.9.3
