<section class='left-container'>
  <h1>  Welcome to Horsell Snow Angels </h1>
  </br>

  <h4>
  <p>Horsell Snow Angels is a community volunteer scheme in the postcode area of GU21 4**, which offers assistance for local people on snowy and icy days.</p>

  <p>Our hotline number for assistance on snowy and icy days is 01483 380025.</p>

  <p>Snow Angels provides a non-emergency temporary service, springing into action only during the snowy or icy weather, for anyone in Horsell to call upon who finds it difficult or risky to get around outside in those difficult conditions.</p>

  <p>The services offered by the Snow Angels volunteers range from snow clearance to shopping and prescription collection to dog walking. Services normally stop at the front door, so unlike more regular community support services such as Horsell Care, the Angels won’t give lifts or go into people’s homes. The Angels always travel on foot around the village.</p>

  <p>All Snow Angels are contacted by text message on snowy days to discover their availability for that day. Those who are available and in the village may be contacted by the organisers and asked to carry out specific tasks for local people. There is no commitment involved in volunteering - you just need to add yourself to a list of willing volunteers. To sign up as an Angel, use this website.</p>
  </h4>
  </br>

<%= link_to "Register as a volunteer", new_volunteer_path, class: 'volunteer-self-register' %>
</section>

<section class='right-container'>
  <img src='http://dstele.com/wordpress/wp-content/uploads/2014/05/old_people_group.png'>
</section>
