<h2>Email</h2>
<%= link_to 'Generate email list', email_list_settings_path, class: 'btn' %> -
<em>Generate a list of emails for your volunteers</em>
<br>
<h2>Admin Invitation</h2>
<%= link_to 'Admin Invitation', new_admin_invitation_path, class: 'btn' %> -
<em>Invite a new admin to the system</em>
