<% if admin_signed_in? %>

  <h3 class='center'>TASKS TO BE ASSIGNED</h3>
  <ul>
    <% @tasks_to_be_assigned.each do |task| %>
      <%= render 'partials/tasks_to_be_assigned', task: task %>
    <% end %>
  </ul>

  <h3 class='center'>ASSIGNED TASKS</h3>
  <ul>
    <% @assigned_tasks.each do |task| %>
      <%= render 'partials/assigned_tasks', task: task %>
    <% end %>
  </ul>

<% else %>
  <%= render 'partials/splash' %>
<% end %>
