* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #27ae60;
  width: 100%;
  padding: 1em;
  border-bottom: 4px solid #2ecc71;
}

#logo {
  font-size: 3em;
  color: white;
  text-align: center;
}

#logo a {
    text-decoration: none;
    color: white;
}

.login_logout_btn {
  float: right;
  display: block;
  background-color: #2980b9;
  padding: 1em;
  border-radius: 10px;
}

.menu_bar {
  background-color: gray;
}

.menu_bar a {
  text-decoration: none;
  color: white;
  padding: 0.7em;
}

.menu_bar a:hover {
    font-weight: bold;
} 

.snow_day_button {
  color: white;
  background-color: #c0392b;
  padding: 1em;
  border-radius: 10px;
  display: block;
  width: 8em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.snow_day_button:hover {
  font-weight: bold;
}

.container {
  padding-top: 1em;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.left-container {
  float: left;
  width: 50%;
}

.right-container {
  float: right;
  width: 50%;
} 

.volunteer-self-register {
  color: white;
  background-color: #c0392b;
  padding: 1em;
  border-radius: 10px;
  display: block;
  width: 8em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.volunteer-self-register:hover {
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;

}

.box {
  background-color: #ecf0f1;
  list-style-type: none;
  padding: 1em;
  margin: 1em;
}

.divider {
  width: 500px;
  text-align: center;
  color: black;
}

.divider hr {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.left {
  float: left;
}

.right {
  float: right;
}

pre {
  margin-top: 1em;
}