* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #27ae60;
  width: 100%;
  padding: 1em;
  border-bottom: 4px solid #2ecc71;
}

#logo {
  font-size: 3em;
  color: white;
  text-align: center;
}

#logo a {
    text-decoration: none;
    color: white;
}

.login_logout_btn {
  float: right;
  display: block;
  background-color: #2980b9;
  padding: 1em;
  border-radius: 10px;
}

.snow_day_button {
  float: left;
  color: white;
  background-color: #c0392b;
  padding: 1em;
  border-radius: 10px;
}

.container {
  display: block;
}
