@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #1d2935;
  width: 100%;
  padding: 1em;
  border-bottom: 4px solid #2980b9;
  font-family: 'Andale Mono', 'Lucida Console';
}

footer {
  margin-top: 2em;
  width: 100%;
  height: 3em;
  background-color: #1d2935;
  border-top: 4px solid #2980b9;
}

#logo {
  font-size: 3em;
  color: white;
  text-align: center;
}

#logo a {
    text-decoration: none;
    color: white;
}

.login_logout_btn {
  float: right;
  display: block;
  background-color: #2980b9;
  padding: 1em;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.container {
  padding-top: 1em;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.left-container {
  float: left;
  width: 70%;
}

.left-container p {
  line-height: 30px;
  font-size: 1.25em;
  margin-bottom: 1rem;
}

.right-container {
  float: right;
  width: 50%;
}

.volunteer-self-register {
  color: white;
  background-color: #c0392b;
  padding: 1em;
  border-radius: 10px;
  display: block;
  width: 15em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  font-size: 1.5em;
}

.volunteer-self-register:hover {
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;
}


.left {
  float: left;
}

.right {
  float: right;
}

pre {
  margin-top: 1em;
}

nav {
  background-color: #ecf0f1;
}

nav ul li {
  display: inline;
  padding: 0.6em;
  background-color: #cad5d8;
  border-radius: 4px;
  border: 2px solid #cad5d8;
}

nav ul li:hover {
  border: 2px solid #b0c0c4;
}

nav ul li a {
  text-decoration: none;
  color: #74898b;
}

.navbar {
  width: 50em;
  margin: 0 auto;
  padding: 1em;
}

.task {
  float: left;
  width: 30%;
}

.volunteers {
  float: right;
  width: 40%;
}

.volunteer-box {
  background-color: #bdc3c7;
  margin-bottom: 1em;
  padding: 1em;
  height: 10em;
}

.volunteer-box-left {
  float: left;
  width: 30%;
}

.volunteer-box-right {
  float: right;
  width: 30%;
}

#multi-markers {
  width: 50%;
}

/* ----------------
      FORMS
----------------*/

.form {
  margin-top: 1%;
  margin-left: 35%;
}

.form p {
  margin-bottom: 2%;
}

.form input {
  width: 500px;
  padding-top: 1%;
}

.form input[type="submit"]{
  background-color: #2980b9;
  border: none;
  color: #fff;
}

.form-title {
  margin-top: 2%;
  text-align: center;
}

#search-form-client #search {
  width: 250px;
}

/* ----------------
      TABLE
----------------*/

#search-form-view {
  margin-bottom: 40px;
}

td {
  border: 1px solid #ecf0f1;
  padding: 4px;
  line-height: 14px;
  text-align: center;
  width: 300px;
}

.icon {
  width: 100px;
}

.address {
  width: 500px;
}

.availability {
  margin-left: auto;
  margin-right: auto;
}

.available {
  margin: 2em;
  border: none;
  padding: 10px;
  line-height: 20px;
  width: 50%;
  text-align: center;
}

.unavailable {
  margin: 2em;
  border: none;
  padding: 10px;
  line-height: 20px;
  width: 50%;
  text-align: center;
}

/* ----------------
    DASHBOARD
----------------*/

.center {
  text-align: center;
}

.task-box {
  background-color: #fcfcfc;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #cad5d8;
  border-radius: 3px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.client-request {
  display: block;
  font-size: 1.2em;
  color: #2980b9;
  margin-bottom: 0.4em;
}

.match-btn {
  float: right;
  background-color: #c0392b;
  margin-top: -1.7em;
  text-decoration: none;
  padding: 0.7em;
  border-radius: 5px;
  color: white;
}

.match-btn:hover {
  background-color: #b03021;
}

.status-bar {
  margin-top: 1em;
  text-align: justify;
}

.status-bar li {
  display: inline;
  padding: 1em;
  width: 2em;
  
}

.status {
  font-size: 0.9em;
  color: #c9c9c9;
}

.true {
  color: black;
}

.completed, .completed .client-request {
  color: gray;
}

.completed .match-btn {
  background-color: gray;
}

.completed .match-btn:hover {
  background-color: #696969;
}

.availability-header {
  padding: 30px;
}

.pending-archive {
  padding: 30px;
  text-align: center;
  line-height: 20px;
}

.pending-archive-item {
  line-height: 20px;
  text-align: center;
}

.sms_all_volunteers #custom_body {
  width: 20%;
  padding: 3px;
}

.sms_all_volunteers input[type="submit"]{
  background-color: #2980b9;
  border: none;
  color: #fff;
  padding: 4px;
  margin-top: 10px;
}
