.left-task {
  width: 40%;
  float: left;
}

.right-task {
  margin-left: 5%;
  width: 55%;
  float: left;
}

.btns {
  float: right;
  margin-top: -8em;
}

.red-btn {
  background: none;
  border: 0;
  background-color: #c0392b;
  padding: 0.7em;
  border-radius: 5px;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.txt-input {
  margin: 1em;
}