.col {
  width: 25%;
  padding: 1em;
  float: left;
}

.col h3 {
  text-align: center;
}

.box {
  background-color: #fcfcfc;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #cad5d8;
  border-radius: 3px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}